@include media-breakpoint-up(sm) {
    .page-header{
	.h1{
	    font-size: 2.62vw;
	    font-weight: 400;
	}
    }
}
@include media-breakpoint-up(md) {
    .btn-lg{
	padding: 1.25rem 2rem;
    }
    .post-card{
	&:nth-child(odd) .row{
	    flex-direction: row-reverse;
	}
	&:nth-child(even) .row{
	    .read-more{
		text-align: right;
	    }
	}
	.post-img{
	    flex: 0 0 55%;
	    max-width: 55%;
	}
	.entry-content{
	    flex: 0 0 45%;
	    max-width: 45%;
	}
	.icon{
	    margin-left: rem(70px);
	}
    }
}
@include media-breakpoint-up(lg) {
    .content-section{
	.container{
	    padding-right: 28px;
	    padding-left: 28px;
	    max-width: 1104px;
	}
	.row{
	    margin-left: -28px;
	    margin-right: -28px;
	}
	.col-12{
	    padding-right: 28px;
	    padding-left: 28px;
	}
    }
    #our-people{
	.container{
	    padding-right: 22px;
	    padding-left: 22px;
	    max-width: 1092px;
	}
	.row{
	    margin-left: -22px;
	    margin-right: -22px;
	}
	.col-12{
	    padding-right: 22px;
	    padding-left: 22px;
	}
    }
    #following-areas{
	.container{
	    padding-right: 10px;
	    padding-left: 10px;
	    max-width: 1068px;
	}
	.row{
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.col-12{
	    padding-right: 10px;
	    padding-left: 10px;
	}
    }
}
@include media-breakpoint-up(xl) {
    .post-card{
	.entry-title {
	    margin-bottom: 2.5rem;
	}
	.row{
	    justify-content: space-between;
	}
	.post-img{
	    flex: 0 0 67%;
	    max-width: 67%;
	}
	.entry-content{
	    flex: 0 0 30%;
	    max-width: 30%;
	}
	+ .post-card{
	    margin-top: 3.5rem;
	}
    }
}

@include media-breakpoint-down(md) {
    .content-section{
	font-size: 16px;
    }
    .post-card{
	.post-img{
	    margin-bottom: 1.5rem;
	}
    }
}