@include media-breakpoint-up(sm) {
    .page-header{
	.h1{
	    font-size: 2.62vw;
	    font-weight: 400;
	}
    }
    .owl-carousel{
	.owl-nav.disabled + .owl-dots {
	    margin-top: 2rem;
	}
    }
}
@include media-breakpoint-up(md) {
    .btn-lg{
	padding: 1.25rem 2rem;
    }
    .btn-arr{
	.icon{
	    margin-left: rem(70px);
	}
    }
    .post-card{
	&:nth-child(odd) .row{
	    flex-direction: row-reverse;
	}
	&:nth-child(even) .row{
	    .read-more{
		text-align: right;
	    }
	}
	.post-img{
	    flex: 0 0 55%;
	    max-width: 55%;
	}
	.entry-content{
	    flex: 0 0 45%;
	    max-width: 45%;
	}
    }
    #contact-us{
	.row-bottom{
	    margin-right: -15px!important;
	    margin-left: -15px!important;;
	    .col-md-4{
		flex: 0 0 190px;
		max-width: 190px;
	    }
	    .col-md-8{
		flex: 0 0 calc(100% - 190px);
		max-width: calc(100% - 190px);
	    }
	}
    }
    #main-banner{
	background-image: url(../img/main-banner.jpg);
	&:before{
	    left: -11vw;
	    top: -5vw;
	    width: 50.5vw;
	    height: 50.5vw;
	}
	.row{
	    height: 50vw;
	    align-items: center;
	}
	.fw-special-title{
	    margin-top: 0;
	    font-size: 5.1vw;
	    max-width: 24.5vw;
	    strong{
		font-weight: 900;
	    }
	}
	.btn-wrp{
	    margin-top: 2vw;
	}
	.btn-link{
	    font-size: rem(18px);
	    .icon{
		margin-right: .7rem;
		svg{
		    position: relative;
		    top: -.1em;
		    width: 1.5em;
		    height: 1.5em;
		}
	    }
	}
    }
    #newsletter{
	.col-right{
	    border-left: 1px solid #fff;
	}
	.custom-control-label{
	    font-size: 12px;
	    padding-top: 2px;
	}
	.form-group{
	    margin-bottom: 0;
	}
    }
    #main-banner{
	.btn-wrp,
	.fw-heading{
	    margin-left: 44px;
	}
	&:before{
	    content: '';
	    position: absolute;
	    left: -3vw;
	    top: -5vw;
	    display: block;
	    width: 50.5vw;
	    height: 50.5vw;
	    background-color: $primary;
	    border-radius: 50%;
	    z-index: 3;
	}
    }
}
@include media-breakpoint-up(lg) {
    .content-section:not(#main-banner){
	.container{
	    padding-right: 28px;
	    padding-left: 28px;
	    max-width: 1104px;
	}
	.row{
	    margin-left: -28px;
	    margin-right: -28px;
	}
	.col-12{
	    padding-right: 28px;
	    padding-left: 28px;
	}
    }
    #contact-us,
    #our-people{
	.container{
	    padding-right: 22px;
	    padding-left: 22px;
	    max-width: 1092px;
	}
	.row{
	    margin-left: -22px;
	    margin-right: -22px;
	}
	.col-12{
	    padding-right: 22px;
	    padding-left: 22px;
	}
    }
    #following-areas{
	.container{
	    padding-right: 10px;
	    padding-left: 10px;
	    max-width: 1068px;
	}
	.row{
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.col-12{
	    padding-right: 10px;
	    padding-left: 10px;
	}
    }
    #contact-us{
	.wpcf7-textarea{
	    min-height: 306px;
	}
	.col-lg-8{
	    padding-right: 44px;
	    flex: 0 0 68%;
	    max-width: 68%;
	}
	.col-lg-4{
	    padding-left: 44px;
	    position: relative;
	    flex: 0 0 32%;
	    max-width: 32%;
	    &:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 93px;
		bottom: 60px;
		width: 1px;
		background-color: #dadbdb;
	    }
	}
    }
    #map{
	.embed-responsive-16by9::before {
	    padding-top: 30%;
	}
    }
    #main-banner{
	.btn-wrp,
	.fw-heading{
	    margin-left: 60px;
	}
    }
}
@include media-breakpoint-up(xl) {
    .post-card{
	.entry-title {
	    margin-bottom: 2.5rem;
	}
	.row{
	    justify-content: space-between;
	}
	.post-img{
	    flex: 0 0 67%;
	    max-width: 67%;
	}
	.entry-content{
	    flex: 0 0 30%;
	    max-width: 30%;
	}
	+ .post-card{
	    margin-top: 3.5rem;
	}
    }
    #main-banner{
	padding-left: 15px;
	padding-right: 15px;
	.container{
	    max-width: 1722px;
	}
	.btn-wrp,
	.fw-heading{
	    margin-left: 77px;
	}
	&:before{
	    left: -11vw;
	    top: -5vw;
	    width: 50.5vw;
	    height: 50.5vw;
	}
    }
    .home{
	position: relative;
	.site-header{
	    position: absolute;
	    z-index: 999;
	    top: 0;
	    left: 0;
	    right: 0;
	    background: none;
	    padding-top: 47px;
	}
	#main-menu{
	    background-color: $primary;
	    padding: rem(24px 32px);
	    border-radius: 3rem;
	}
    }
    #main-banner{
	.row {
	    height: 42.45vw;
	}
	.fw-special-title {
	    margin-top: 5vw;
	}
	.btn-link{
	    font-size: rem(22px);
	}
    }
    #welcome{
	margin-top: rem(-60px);
	.col-12{
	    padding-top: rem(90px);
	    padding-bottom: rem(70px);
	}
    }
    #newsletter{
	.col-left{
	    flex: 0 0 31%;
	    max-width: 31%;
	}
	.col-center{
	    flex: 0 0 42%;
	    max-width: 42%;
	}
	.col-right{
	    flex: 0 0 27%;
	    max-width: 27%;
	}
    }
}
@media(min-width: 1700px){
    #main-banner{
	&:before{
	    left: -5.2vw;
	    top: -5vw;
	}
    }
}
@media(min-width: 2000px){
    #main-banner{
	&:before{
	    content: '';
	    position: absolute;
	    left: -100px;
	    top: -95px;
	    width: 970px;
	    height: 970px;
	}
	.row{
	    height: 815px;
	}
	.fw-special-title{
	    font-size: 98px;
	    max-width: 470px;
	}
    }
}
@include media-breakpoint-down(lg) {
    #newsletter{
	.col-left{
	    margin-bottom: 1rem;
	}
    }
}
@include media-breakpoint-down(md) {
    .content-section{
	font-size: 16px;
    }
    .post-card{
	.post-img{
	    margin-bottom: 1.5rem;
	}
    }
}
@include media-breakpoint-down(sm) {
    #newsletter{
	.col-center{
	    margin-bottom: 1rem;
	}
    }
}