*{
    outline: none!important;
}
a{
    transition: all .3s ease;
}
html{
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    min-width: 320px;
    position: relative;
}
.fsz-18{
    font-size: rem(18px);
}
.fsz-16{
    font-size: rem(16px);
}
.text-black{
    color: $black;
}
.font-weight-medium{
    font-weight: 500;
}
.btn{
    text-transform: uppercase;
}
label{
    color: #6a6a6a;
}
.form-control {
    background-clip: border-box;
}
.wpcf7-submit{
    width: 100%;
}
select.form-control{
    padding-right: 35px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451.8 451.8' fill='%23c4c4c4'%3E%3Cpath d='M203.6 345.4L9.3 151.2c-12.4-12.4-12.4-32.4 0-44.8C21.7 94 41.7 94 54 106.4l171.9 171.9 171.9-171.9c12.4-12.4 32.4-12.4 44.7 0 12.4 12.4 12.4 32.4 0 44.8L248.3 345.4c-6.2 6.2-14.3 9.3-22.4 9.3-8.1 0-16.2-3.1-22.3-9.3z'%3E%3C/path%3E%3C/svg%3E") calc(100% - 20px) 50%/15px no-repeat;
}
.form-group{
    position: relative;
    label:not(.custom-control-label){
	background-color: #fff;
	padding: 0 5px;
	font-weight: 400;
	position: absolute;
	z-index: 1;
	left: 10px;
	top: 21px;
	transform: translateY(-50%);
	transition: top .3s ease-in , font-size .3s ease-in;
	line-height: 1;
	.required{
	    color: $red;
	}
    }
    &.on-focus label {
	top: 0;
	font-size: 13px;
	z-index: 3;
    }
    .form-control{
	position: relative;
	z-index: 2;
	background-color: transparent;
    }
}
.icon{
    svg{
	width: 1em;
	height: 1em;
    }
}
.wpcf7-response-output{
    background-color: #fff;
    text-align: center;
}
.invalid{
    .form-control:invalid{
	border-color: $red;
    }
}
.screen-reader-response{
    display: none;
}
/*Section*/
.content-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    .container-fluid{
	padding: 0;
	.row{
	    margin: 0;
	}
	.col-lg-12{
	    padding: 0;
	}
    }
    .row{
	justify-content: center;
    }
}
.fw-heading.text-center{
    margin-left: auto;
    margin-right: auto;
}
.page-header{
    position: relative;
    background-color: $blue-dark;
    min-height: 19vw;
    .container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
    }
    img{
	object-fit: cover;
	width: 100%;
    }
    .h1{
	text-align: center;
	margin-bottom: 0;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	position: relative;
    }
    .sub-heading{
	color: #cdcdcd;
	font-size: 15px;
    }
}
.styled{
    list-style: none;
    padding-left: 0;
    li{
	display: flex;
	margin-bottom: .5rem;
    }
    strong{
	color: $blue;
    }
    .icon{
	color: $red;
	flex: 0 0 rem(30px);
    }
}
.text-block{
    a{
	text-decoration: underline;
    }
}
.team-member{
    font-size: 15px;
    margin-bottom: 2rem;
    h3{
	margin-bottom: 0;
    }
    .position{
	color: $blue;
    }
}
.post-card{
    .entry-title {
	margin-bottom: 1.5rem;
	a{
	    color: #0c4053;
	}
    }
    .entry-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    }
    + .post-card{
	margin-top: 2rem;
    }
    .btn{
	margin-top: 1rem;
    }
}
.btn-arr{
    .icon{
	margin-left: rem(30px);
	font-size: .8em;
	position: relative;
	top: -2px;
    }
}
.post-recent{
    margin-bottom: 2rem;
    .entry-title {
	a{
	    color: #0c4053;
	}
    }
    .btn{
	margin-top: 1rem;
    }
}
.page-block{
    display: block;
    max-width: 502px;
    background-color: #0c4053;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    h3{
	color: #fff;
    }
    p{
	margin: 0;
	color: #23a5d5;
	font-size: 15px;
    }
}
#contact-us{
    .fw-heading-h2{
	.fw-special-title{
	    background-color: #0c4053;
	    color: #fff;
	    font-weight: 400;
	    padding: rem(13px 20px);
	}
    }
}
.contact-info{
    color: #6a6a6a;
    font-size: rem(16px);
    line-height: 1.4;
    a{
	text-decoration: underline;
	word-break: break-all;
    }
    .info-box{
	display: flex;
	.icon{
	    flex: 0 0 40px;
	    max-width: 40px;
	    color: $primary;
	    svg{
		width: rem(40px);
		height: rem(40px);
	    }
	}
	.content{
	    flex: 0 0 calc(100% - 40px);
	    max-width:  calc(100% - 40px);
	    padding-left: 1rem;
	}
    }
}
.home{
    position: relative;
    .site-header{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	background: none;
	padding-top: 47px;
    }
    #main-menu{
	background-color: $primary;
	padding: rem(24px 32px);
	border-radius: 3rem;
    }
}
#main-banner{
    background-color: #000211;
    background-image: url(../img/main-banner.jpg);
    max-width: 2000px;
    position: relative;
    &:before{
	content: '';
	position: absolute;
	left: -5.2vw;
	top: -5vw;
	display: block;
	width: 50.5vw;
	height: 50.5vw;
	background-color: $primary;
	border-radius: 50%;
	z-index: 3;
    }
    .col-12{
	z-index: 4;
    }
    .row{
	height: 42.45vw;
	align-content: center;
    }
    .fw-special-title{
	color: #fff;
	font-size: 5.1vw;
	line-height: 1;
	font-weight: 400;
	max-width: 24.5vw;
	strong{
	    font-weight: 900;
	}
    }
}
#welcome{
    color: #333333;
    @include font-size(rem(20px));
    line-height: 1.75;
    margin-top: rem(-60px);
    position: relative;
    z-index: 2;
    .col-12{
	background-color: $gray-100;
	padding-top: rem(70px);
	padding-bottom: rem(70px);
	border-radius: 0 0 5.2vw 5.2vw;
    }
}