*{
    outline: none!important;
}
a{
    transition: all .3s ease;
}
html{
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    min-width: 320px;
    position: relative;
}
.fsz-18{
    font-size: rem(18px);
}
.fsz-16{
    font-size: rem(16px);
}
.text-black{
    color: $black;
}
.font-weight-medium{
    font-weight: 500;
}
.btn{
    text-transform: uppercase;
}
label{
    color: #6a6a6a;
}
.form-control {
    background-clip: border-box;
}
.wpcf7-submit{
    width: 100%;
}
select.form-control{
    padding-right: 35px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451.8 451.8' fill='%23c4c4c4'%3E%3Cpath d='M203.6 345.4L9.3 151.2c-12.4-12.4-12.4-32.4 0-44.8C21.7 94 41.7 94 54 106.4l171.9 171.9 171.9-171.9c12.4-12.4 32.4-12.4 44.7 0 12.4 12.4 12.4 32.4 0 44.8L248.3 345.4c-6.2 6.2-14.3 9.3-22.4 9.3-8.1 0-16.2-3.1-22.3-9.3z'%3E%3C/path%3E%3C/svg%3E") calc(100% - 20px) 50%/15px no-repeat;
}
.form-group{
    position: relative;
    label:not(.custom-control-label){
	background-color: #fff;
	padding: 0 5px;
	font-weight: 400;
	position: absolute;
	z-index: 1;
	left: 10px;
	top: 21px;
	transform: translateY(-50%);
	transition: top .3s ease-in , font-size .3s ease-in;
	line-height: 1;
	display: inline-block;
	sup{
	    color: $red;
	}
    }
    &.on-focus label {
	top: 0;
	font-size: 13px;
	z-index: 3;
    }
    .wpcf7-form-control{
	position: relative;
	z-index: 2;
	background-color: transparent!important;
    }
}
.icon{
    svg{
	width: 1em;
	height: 1em;
    }
}
.wpcf7-response-output{
    background-color: #fff;
    text-align: center;
}
.invalid{
    .form-control:invalid{
	border-color: $red;
    }
}
.screen-reader-response{
    display: none;
}
/*Section*/
.content-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    .container-fluid{
	padding: 0!important;
	.row{
	    margin: 0!important;
	}
	.col-lg-12{
	    padding: 0!important;
	}
    }
    .row{
	justify-content: center;
    }
}
.fw-heading.text-center{
    margin-left: auto;
    margin-right: auto;
}
.page-header{
    position: relative;
    background-color: $blue-dark;
    min-height: 19vw;
    .container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
    }
    img{
	object-fit: cover;
	width: 100%;
    }
    .h1{
	text-align: center;
	margin-bottom: 0;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	position: relative;
    }
    .sub-heading{
	color: #cdcdcd;
	font-size: 15px;
    }
}
.styled{
    list-style: none;
    padding-left: 0;
    li{
	display: flex;
	margin-bottom: .5rem;
    }
    strong{
	color: $blue;
    }
    .icon{
	color: $red;
	flex: 0 0 rem(30px);
    }
}
.text-block{
    font-size: rem(15px);
    a{
	text-decoration: underline;
    }
}
.team-member{
    font-size: 15px;
    margin-bottom: 2rem;
    h3{
	margin-bottom: 0;
    }
    .position{
	color: $blue;
    }
}
.post-card{
    .entry-title {
	margin-bottom: 1.5rem;
	a{
	    color: #0c4053;
	}
    }
    .entry-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    }
    + .post-card{
	margin-top: 2rem;
    }
    .btn{
	margin-top: 1rem;
    }
}
.entry-content{
    font-size: rem(15px);
}
.btn-arr{
    .icon{
	margin-left: rem(30px);
	font-size: .8em;
	position: relative;
	top: -2px;
    }
}
.post-recent{
    margin-bottom: 2rem;
    .entry-title {
	a{
	    color: #0c4053;
	}
    }
    .btn{
	margin-top: 1rem;
    }
}
.page-block{
    display: block;
    max-width: 502px;
    background-color: #0c4053;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    h3{
	color: #fff;
    }
    p{
	margin: 0;
	color: #23a5d5;
	font-size: 15px;
    }
}
#contact-us{
    .fw-heading-h2{
	.fw-special-title{
	    background-color: #0c4053;
	    color: #fff;
	    font-weight: 400;
	    padding: rem(13px 20px);
	}
    }
}
.contact-info{
    color: #6a6a6a;
    font-size: rem(16px);
    line-height: 1.4;
    a{
	text-decoration: underline;
	word-break: break-all;
    }
    .info-box{
	display: flex;
	a{
	    font-size: 14px;
	}
	.icon{
	    flex: 0 0 40px;
	    max-width: 40px;
	    color: $primary;
	    svg{
		width: rem(40px);
		height: rem(40px);
	    }
	}
	.content{
	    flex: 0 0 calc(100% - 40px);
	    max-width:  calc(100% - 40px);
	    padding-left: 1rem;
	}
    }
}
.home{
    .site-header{
	position: relative;
	z-index: 999;
    }
}
#main-banner{
    background-color: #000211;
    background-image: url(../img/main-banner-sm.jpg);
    position: relative;
    .container{
	//max-width: 100%;
    }
    &:before{
	content: '';
	position: absolute;
	left: -11vw;
	top: -9vw;
	display: block;
	width: 70vw;
	height: 70vw;
	background-color: $primary;
	border-radius: 50%;
	z-index: 3;
    }
    &:after{
	content: '';
	display: block;
	background: url(../img/start-up-finalist.png) 50%/ contain no-repeat;
	width: vw-sm(100px);
	height: vw-sm(100px);
	position: absolute;
	right: vw-sm(10px);
	bottom: vw-sm(10px);
	z-index: 4;
    }
    .col-12{
	z-index: 4;
    }
    .row{
	height: 65vw;
    }
    .fw-special-title{
	margin-top: 10vw;
	color: #fff;
	font-size: 7.5vw;
	line-height: 1;
	font-weight: 400;
	max-width: 40vw;
	strong{
	    font-weight: 900;
	}
    }
    .btn-wrp{
	margin-top: 1vw;
    }
    .btn-link{
	color: #0c4053;
	text-transform: none;
	font-size: 3.1vw;
	font-weight: 700;
	padding-left: 0;
	.icon{
	    margin-right: .1rem;
	    svg{
		position: relative;
		top: -.1em;
		width: 1.2em;
		height: 1.2em;
	    }
	}
	&:hover{
	    color: #fff;
	}
    }
}
#welcome{
    color: #333333;
    @include font-size(rem(20px));
    line-height: 1.75;
    position: relative;
    z-index: 2;
    .col-12{
	background-color: $gray-100;
	padding-top: rem(30px);
	padding-bottom: rem(30px);
	border-radius: 0 0 5.2vw 5.2vw;
    }
    .text-block{
	font-size: rem(20px);
	line-height: 1.55;
    }
}
#newsletter{
    background-color: $blue;
    .btn-lg {
	padding: 7px 1rem;
    }
    small{
	margin-top: .7rem;
	display: block;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	a{
	    color: #fff;
	    text-decoration: underline;
	}
    }
}
.row-newsletter{
    align-items: center;
    h3{
	color: #fff;
	display: flex;
	align-items: center;
	margin: 0;
	font-weight: 400;
	img{
	    margin-right: 1rem;
	}
	strong{
	    margin-left: 5px;
	}
    }
    .form-group{
	.wpcf7-form-control{
	    background-color: #fff!important;
	    border-color: #fff;
	    border-radius: 2px;
	    height: rem(38px);
	}
    }
    .custom-control-label{
	color: #fff;
    }
    .custom-control-label::before{
	border-color: #fff;
    }
    .custom-control-label::after {
	background: 50%/80% 80% no-repeat;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 8 8'%3e%3cpath fill='%230c4053' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    }
    .custom-control-input:checked~.custom-control-label::before {
	color: $dark;
	border-color: #fff;
	background-color: #fff;
    }
    .wpcf7-exclusive-checkbox{
	margin-bottom: 0;
    }
}
.home .site-footer{
    border-top: 0;
}